---
version: "2.1"

services:
  {{ project_name }}:
    image: linuxserver/unifi-controller:{{ unifi_tag }}
    container_name: {{ project_name }}
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - nfs-{{ project_name }}:/config
    ports:
      - 3478:3478/udp
      - 10001:10001/udp
      - 8080:8080
      - 8443:8443
    restart: unless-stopped

volumes:
  nfs-{{ project_name }}:
    external: true