---
version: "2.1"
services:
  unifi-controller:
    image: linuxserver/unifi-controller:{{ unifi_tag }}
    container_name: unifi-controller
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - {{ project_dir }}/config:/config
    ports:
      - 3478:3478/udp
      - 10001:10001/udp
      - 8080:8080
      - 8443:8443
    restart: unless-stopped
