---
version: "3"

services:
  {{ project_name }}:
    image: linuxserver/unifi-controller:5.14.23-ls76
    container_name: unifi
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - traefik 
    volumes:
      - nfs-config:/config
    labels:
      traefik.enable: true
      traefik.http.routers.{{ project_name }}.rule: Host(`{{ project_name }}.docker.home.remigourdon.net`)
      traefik.http.routers.{{ project_name }}.entrypoints: websecure
      traefik.http.routers.{{ project_name }}.tls.certresolver: myresolver
    restart: unless-stopped

volumes:
  nfs-config:
    driver: local
    driver_opts:
      type: nfs
      o: addr=truenas.home.remigourdon.net,soft,rw,tcp,nfsvers=4
      device: ":/mnt/NAS/nfs-docker/{{ project_name }}"

networks:
  traefik:
    external: true
